{% extends 'base.html.twig' %}

{% block title %}BACKOFFICE{% endblock %}

{% block body %}
	<h1 class="display-4 text-center my-4">BACKOFFICE</h1>
<p class="text-center">Bienvenue sur votre BackOffice</p>
<a href="{{ path('admin_vehicule') }}" class="col-md-6 offset-md-3 btn btn-dark mb-2">GESTION DES VÉHICULES</a>
{% endblock %}
